# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build with Maven

on: [push]

jobs:

  publishing_parameters:
    name: Publishing parameters
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Determine version
        id: version
        run: |
          if [[ $GITHUB_REF == *"tags"* ]]; then
            version=${GITHUB_REF#refs/tags/}
          else
            version=${GITHUB_REF#refs/heads/}-SNAPSHOT
          fi
          echo "version=${version//\//-}" >> $GITHUB_OUTPUT

  build:
    name: Build ${{ needs.publishing_parameters.outputs.version }} and publish to Maven Central
    needs: publishing_parameters
    runs-on: ubuntu-latest
    env:
      MAVEN_ARGS: --show-version --no-transfer-progress
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version-file: '.java-version'
        cache: maven
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE
        server-id: central
        server-username: MAVEN_CENTRAL_PUBLISH_USERNAME
        server-password: MAVEN_CENTRAL_PUBLISH_PASSWORD
    - name: Set version ${{ needs.publishing_parameters.outputs.version }}
      run: mvn versions:set -DnewVersion=${{ needs.publishing_parameters.outputs.version }}
    - name: Build with Maven
      env:
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
        MAVEN_CENTRAL_PUBLISH_USERNAME: ${{ secrets.MAVEN_CENTRAL_PUBLISH_USERNAME }}
        MAVEN_CENTRAL_PUBLISH_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PUBLISH_PASSWORD }}
      run: mvn clean deploy
